/* Global */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');


/* Header */

.header-container-bg {
    height: 100vh;
    background: url('../images/bg.jpeg') no-repeat center center fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}



@media (max-width: 1024px) {
    .header-container-bg {
        background-attachment: scroll;
    }
}



.header-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

.header-slogan-bg {
    background-color: transparent;
}

.header-slogan-text {
    color: #fff;

}

.header-arrow {
    color: #ff0066;
}


/* Media queries for header text */

@media (max-width: 767px) {
    .header-slogan-text {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .header-arrow {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    .header-arrow {
        font-size: 100px;
    }
}


/* Navbar */

.navbar-bg {
    background-color: #000;
    opacity: 0.8;

}

.link-text {
    font-weight: bold;
    transition: 0.8 ease-in-out;
}

.navbar-icons-spacing {
    margin-right: 5px;
}

.navbar-logo-spacing {
    margin-left: 10px;

}

.logo-effect {
    background-image: -webkit-gradient(linear, left top, left bottom, from(violet), color-stop(indigo), color-stop(blue), color-stop(green), color-stop(yellow), color-stop(orange), to(red));
    background-image: -webkit-linear-gradient(top, violet, indigo, blue, green, yellow, orange, red);
    background-image: -o-linear-gradient(top, violet, indigo, blue, green, yellow, orange, red);
    background-image: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Content */

/* --------------- Music ------------ */

.music-bg-text {
    background-color: #ff0066;
    color: white;

}

.music-box {
    padding-top: 55px;
    padding-bottom: 0;
}

.music-align {
    text-align: center;
    margin-bottom: 100px;

}


.audio-control-space {
    margin-top: 30px;
}


/* --------------- About Us ------------ */

.aboutus-text-bg {
    background-color: #262626;
    color: #fff;
}

.aboutus-box {
    padding-top: 55px;
    padding-bottom: 70px;
}

.carousel-align {
    margin-top: 30px;
}


.carousel-border {
    border-radius: 15px;
}


/* --------------- Global Tour ------------ */

.globaltour-text-bg {
    background-color: #fff;
    color: #000;
}

.globaltour-box {
    padding-top: 0px;
    padding-bottom: 0px;
}



/* --------------- Book Us ------------ */

.bookus-text-bg {
    background-color: #fff;
    color: #000;
}

.bookus-box {
    padding-top: 0px;
    padding-bottom: 0px;
}



/* --------------- Footer Social ------------ */

.footer-bg {
    background-color: #000;
    opacity: 0.8;
}

.icons-social {
    color: #fff;
    font-size: 35px;
}

.icons-social:hover {
    color: #FF007F;
}

.icons-spacing {
    margin-right: 10px;
}
