/* Global */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

body {
    position: relative;
    
    /* Single page without scroll */
    
    /*
    
    overflow-y: hidden;
    
    */
}

a {
    outline: 0;
}


/* Fix for landing page bg-image to "jump" but side effects are: icons on the footer moves and scroll is enabled on website behind modal */

/*

.modal-open {
  overflow-y: auto;
  padding-right:0px !important;
}

*/


/* Scrolling only for mobile devices when single page without scroll enabled */

/*

@media (min-width: 1025px) {
    body {
        overflow-y: hidden;
    }
}


*/


/* Header */

.header-container-bg {
    height: 100vh;
    background: url('../images/bg.jpg') no-repeat center center fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

/* Media query for Mobile devices - Targeting iOS Devices */

@media (max-width: 1024px) {
    .header-container-bg {
        background-attachment: scroll;
    }
}



.header-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

.header-slogan-bg {
    background-color: transparent;
}

.header-slogan-text {
    color: #fff;

}

.header-arrow {
    color: #ff0066;
}


/* Media queries for header text */

@media (max-width: 767px) {
    .header-slogan-text {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .header-arrow {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    .header-arrow {
        font-size: 100px;
    }
}


/* Navbar */

.navbar-bg {
    background-color: #000;
    opacity: 0.8;

}


.navbar-nav .nav-item .nav-link {
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #FF007F;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

.nav-link.active {
    color: #FF007F !important;
}



.link-text {
    font-weight: bold;
}

.tourbookmodal {
    font-weight: bold;
    display: block;
    padding: .5rem;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.tourbookmodal:hover {
    color: #FF007F;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* Alignment for Global Tour and Book Us on the hamburger */

@media (max-width: 767px) {
    .tourbookmodal {
        padding: .5rem .10rem;
    }
}

.navbar-icons-spacing {
    padding-right: 5px;
}

.navbar-logo-spacing {
    padding-left: 10px;

}

.logo-effect {
    background-image: -webkit-gradient(linear, left top, left bottom, from(violet), color-stop(indigo), color-stop(blue), color-stop(green), color-stop(yellow), color-stop(orange), to(red));
    background-image: -webkit-linear-gradient(top, violet, indigo, blue, green, yellow, orange, red);
    background-image: -o-linear-gradient(top, violet, indigo, blue, green, yellow, orange, red);
    background-image: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Content */

/* --------------- Music ------------ */

.music-bg-text {
    background-color: #ff0066;
    color: white;

}

.visitspotify {
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.visitspotify:hover {
    color: #000;
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.visitspotify:active {
    color: #fff;
}

.music-box {
    padding-top: 55px;
    padding-bottom: 0;
}

.music-align {
    text-align: center;
    padding-bottom: 100px;

}


.audio-control-space {
    margin-top:20px;
    padding-top: 20px;
}


/* --------------- About Us ------------ */

.aboutus-text-bg {
    background-color: #262626;
    color: #fff;
}

.aboutus-box {
    padding-top: 55px;
    padding-bottom: 70px;
}

.carousel-align {
    padding-top: 30px;
}


.carousel-border {
    border-radius: 15px;
}


/* --------------- Global Tour ------------ */

.globaltour-text-bg {
    background-color: #b30059;
    color: #fff;
}

.globaltour-box {
    height: 80px;
}

.flag-spacing {
    padding-right: 35px;
}

.closetour-space-color {
    font-size: 25px;
    color: #fff;
    padding-left: 25px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.closetour-space-color:hover {
    color: #000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}



/* --------------- Book Us ------------ */

.bookus-text-bg {
    background-color: #000;
    color: #fff;
}

.closebook-space-color {
    font-size: 25px;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

.closebook-space-color:hover {
    color: #ff0000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}




/* --------------- Footer Social ------------ */

.footer-bg {
    background-color: #000;
    opacity: 0.8;

}

.icons-social {
    color: #fff;
    font-size: 35px;

}

.icons-social:hover {
    color: #FF007F;
}

.icons-spacing {
    padding-right: 10px;
}